.wrapper{
  overflow-x: hidden;
  z-index: -1;
  width: 100vw;
  height: 200vh;
  background-image: linear-gradient(to bottom, black 50%, #663300 50%);
  text-align: center;
}

.wrapper2{
  position: absolute;
  top: 0;
  z-index: 0;
  opacity: 0.2;
  overflow-x: hidden;
  width: 100vw;
  height: 200vh;
  background-image: linear-gradient(to right, black, #663300);
  -webkit-animation: fade 20s infinite;
}

@keyframes fade{
    0%{opacity: 0.2;}
    50%{opacity: 0.8;}
    100%{opacity: 0.2;}
}

@media (min-width: 300px){
  .album-art{
    transform: translate(0px);
    position: static;
    z-index: 3;
    width:90vw;
    height:85vw;
    margin-top: 60px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.2);
  }
  .title{
    z-index: 1;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-family: 'Muli', sans-serif;
    color: white;
    margin-top: 1em;
    margin-bottom: 0.9em;
    font-size: 3.6rem;

  }
}
@media (min-width: 500px){
  .album-art{
    transform: translate(0px);
    position: static;
    z-index: 3;
    width:60vw;
    height:55vw;
    margin-top: 60px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.2);
  }
  .title{
    z-index: 1;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-family: 'Muli', sans-serif;
    color: white;
    margin-top: 1em;
    margin-bottom: 0.9em;
    font-size: 4.6rem;

  }
}
@media (min-width: 600px){
  .album-art{
    transform: translate(0px);
    position: static;
    z-index: 3;
    width:50vw;
    height:45vw;
    margin-top: 60px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.2);
  }
  .title{
    z-index: 1;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-family: 'Muli', sans-serif;
    color: white;
    margin-top: 1em;
    margin-bottom: 0.9em;
    font-size: 4.6rem;

  }
}

@media (min-width: 700px){
  .album-art{
    transform: translate(0px);
    position: static;
    z-index: 3;
    width:45vw;
    height:40vw;
    margin-top: 60px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.2);
  }
  .title{
    z-index: 1;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-family: 'Muli', sans-serif;
    color: white;
    margin-top: 0.8em;
    margin-bottom: 0.9em;
    font-size: 4.6rem;

  }
}

@media (min-width: 832px){
  .album-art{
    transform: translate(0px);
    position: static;
    z-index: 3;
    width:40vw;
    height:35vw;
    margin-top: 60px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.2);
  }
  .title{
    z-index: 1;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-family: 'Muli', sans-serif;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 4.6rem;

  }
}

@media (min-width: 992px){
  .album-art{
    transform: translate(0px);
    position: static;
    z-index: 3;
    width:35vw;
    height:30vw;
    margin-top: 60px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.2);
  }
  .title{
    z-index: 1;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-family: 'Muli', sans-serif;
    color: white;
    margin-bottom: 0.85em;
    font-size: 4.6rem;

  }
}

@media (min-width: 1200px){
  .album-art{
    transform: translate(0px);
    position: static;
    z-index: 3;
    width:30vw;
    height:25vw;
    margin-top: 60px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.2);
  }
  .title{
    z-index: 1;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    font-family: 'Muli', sans-serif;
    color: white;
    margin-bottom: 0.5em;
    font-size: 4.6rem;

  }
}
.tracklist{
  margin-top: 45vh;
  z-index: 2
}

ul{
  z-index: 2;
    transform: translate(0px);
  list-style-type: none;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 1.75rem;
  padding: 0;
}

li{

  font-family: 'Caveat', cursive;
  margin-bottom: 0.55em;
}
